// Media
$iphone: "(min-width: 320px)";
$extraSmall: "(min-width: 480px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
// Color
$main-color: #47408d;
$header-color: #082938;
$btn-color: #00aeed;
$black-color: #000000;
$back-color-2: #0094ae;
$black-color-3: #043740;
$black-color-4: #00528c;
$black-color-5: #088298;
$gray-color: #707070;
$secondry-color: #062736;


// Fonts
$main-font: sans-serif;
$heading-font: cursive;

// Default
$line-height: 1.6